body {
	font-family: 'Roboto', sans-serif;
	background-image: url("https://gd.image-gmkt.com/ORION-KOREA-ORION-TURTLE-CHIP-80G-3-SET-CORN-SOUP-FLAVOR-BRAND-NEW/li/975/907/779907975.g_400-w_g.jpg");
	font-size: 75px;
}

#container {
	display: block;
	margin: auto;
	width: 50%;
	margin-top: 250px;
	background-color: rgba(255, 255, 255, 0.9);
	border: 5px dashed black;
}

.title {
	display: block;
	text-align: center;
}

.counter {
	text-align: center;
}

.num {
	font-weight: bolder;
}

/*.less {
	display: inline-block;
	position: absolute;
	left: 0;
}

.more {
	display: inline-block;
	position: absolute;
	right: 0;
}*/